.main {
  color: rgb(60,60,60);
}

.bannerheadtext {
    font-size: clamp(0.75rem, 3vw, 0.85rem);
    position: relative;
    max-width: 400px;  
}

.title{
  font-size: clamp(2.25rem, 7vw, 2.75rem);
  position: relative;
  max-width: 400px;
}

.subtext{
  font-size: clamp(0.85rem, 3vw, 1rem);
  position: relative;
  max-width: 400px;
}



@keyframes wave {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(22deg); }
}

.card:hover{
  filter: brightness(0.95) !important;
}